---
layout: page
title: The <strong>Vlog</strong>
subtitle: Published video content
menu: Vlog
redirect_from:
  - /blog
  - /blog/
---

{% for post in site.posts %}

  <!-- Vlog Article -->
  <div class="post-full">
    <article class="vlog-article clearfix">

      <!-- Article Header -->
      <header class="article-header">
        <div class="img-wrap">
          <a href="{{ site.baseurl }}{{ post.url }}">
          {% if post.youtubeid %}
          <img src="https://img.youtube.com/vi/{{ post.youtubeid }}/maxresdefault.jpg"
           alt="Article YouTube Thumbnail"
           onerror="this.onerror=null;this.src='https://img.youtube.com/vi/{{ post.youtubeid }}/sddefault.jpg';">
          {% else if post.image %}
          <img src="images/vlog/{{ post.image }}" alt="Article Vlog Image">
          {% endif %}
          </a>
        </div>
        <div class="article-title">
          <h3 class="title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
          <h4 class="category">{{ post.categories | first }}</h4>
        </div>
      </header>

      <!-- Article Content -->
      <div class="article-content">
        <div class="article-date text-center">
          <div class="date parent">
            <div class="date-wrap child-center">
              <div class="day">{{ post.date | date: "%d" }}</div>
              <div class="month">{{ post.date | date: "%b" }}</div>
            </div>
          </div>
          <div class="year">{{ post.date | date: "%Y" }}</div>
        </div>
        <div class="article-text-md">
          {{ post.excerpt | strip_html | truncatewords:75 }}
        </div>
        <div class="show-more">
          <a href="{{ site.baseurl }}{{ post.url }}" class="button">Read More</a>
        </div>
      </div>

    </article>
  </div>

{% endfor %}
