<!-- Importing Scripts -->

<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

<!-- Owl Carousel -->
<script src="{{ site.baseurl }}/js/carousel.min.js" charset="utf-8"></script>

<!-- Parallaxing & SmoothScroll -->
<script src="{{ site.baseurl }}/js/scrollax.min.js" charset="utf-8"></script>

{% if site.smooth-scroll %}
<script src="{{ site.baseurl }}/js/smoothscroll.js" charset="utf-8"></script>
{% endif %}

<!-- Main JS -->
<script src="{{ site.baseurl }}/js/main.js" charset="utf-8"></script>
